.par{
    position: relative;
}

.linec::after{
    content: "";
    position: absolute;
     
    top: 0;
    left:30%;
    width: 15%;
    height: 3px;
    background-color: #2C3E50;

}
.linesc::before{
    content: "";
    position: absolute;
    top: 0;
    right: 30%;
    width: 15%;
    height: 3px;
    background-color: #2C3E50;

}

input{
    display: block;
    width: 100%;
    border: none;


}
.form-control{
    margin-bottom: 20px;
    border:none !important;

    border-bottom: 1px solid #ccc !important;
    
    padding-bottom: 30px !important;
}
hr{
    margin-top: 30px;
}
.form-control:focus{
 
    box-shadow: none !important;
    padding-bottom: 30px !important;
}
input::placeholder{
    color:gray !important;
    font-size: 22px;
}